In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
energy = pd.read_csv('energydata_complete.csv')
energy.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
energy.shape

(19735, 29)

In [4]:
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [5]:
energy.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [6]:
from sklearn.linear_model import LinearRegression

x = energy[['T2']]
y = energy['T6']


from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

lr = LinearRegression()
lr.fit(x_train, y_train)
pred = lr.predict(x_test)
rmse = np.sqrt(mean_squared_error(y_test, pred))
round(rmse, 3)

3.63

In [7]:
energy = energy.drop(['date', 'lights'], axis=1)
features = energy.drop(['Appliances'], axis=1)
target = energy['Appliances']

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.3, random_state=42)

In [9]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [10]:
x_train = pd.DataFrame(scaler.fit_transform(x_train), columns=features.columns)
x_test = pd.DataFrame(scaler.fit_transform(x_test), columns=features.columns)

In [11]:
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [12]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

lr = LinearRegression()
lr.fit(x_train, y_train)
pred = lr.predict(x_train)

In [13]:
mae = mean_absolute_error(y_train, pred)
round(mae, 3)

53.742

In [14]:
rmse = np.sqrt(mean_squared_error(y_train, pred))
round(rmse, 3)

95.216

In [15]:
pred = lr.predict(x_test)
mae= mean_absolute_error(y_test, pred)
round(mae, 3)

49.093

In [16]:
pred = lr.predict(x_test)
rmse = np.sqrt(mean_squared_error(y_test, pred))
round(rmse, 3)

97.531

In [17]:
ridge = Ridge()
ridge.fit(x_train, y_train)

Ridge()

In [18]:
pred = ridge.predict(x_test)
np.sqrt(mean_squared_error(y_test, pred))

98.64997676309154

In [19]:
lasso = Lasso()
lasso.fit(x_train, y_train)

Lasso()

In [20]:
preds = lasso.predict(x_test)
np.sqrt(mean_squared_error(y_test, preds))

101.5018894144909

In [21]:
def weights(model, features, column_name):
    weight = pd.Series(model.coef_, features.columns).sort_values()
    weight_df = pd.DataFrame(weight).reset_index()
    weight_df.columns = ["Features", column_name]
    weight_df[column_name].round(3)
    return weight_df

In [22]:
lr_weights = weights(lr, features, 'LinearRegression')
ridge_w = weights(ridge, features, 'RidgeRegression')
lasso_w = weights(lasso, features, 'LassoRegression')

weight_data = pd.merge(lr_weights, ridge_w, on='Features')
weight_data = pd.merge(weight_data, lasso_w, on='Features')

In [23]:
weight_data

       Features  LinearRegression  RidgeRegression  LassoRegression
0          RH_2     -16697.744717       -71.127952             -0.0
1         T_out     -10676.085192       216.668799              0.0
2        RH_out      -6233.069918      -252.560260             -0.0
3          RH_8      -4807.560361      -611.386989             -0.0
4            T2      -3459.605006       653.378842              0.0
5            T9      -1930.747958      -461.016519              0.0
6          RH_7      -1341.292153      -395.279191             -0.0
7          RH_9      -1013.554863      -387.812241             -0.0
8            T5       -174.061818      -275.807924              0.0
9            T1        -33.246564       -14.667055              0.0
10          rv2         41.166131        -0.346975             -0.0
11          rv1         41.166131        -0.346975             -0.0
12           T7        116.741133       -87.385981              0.0
13  Press_mm_hg        314.311597       -83.799891             -0.0
14           T4        342.435339        33.436379              0.0
15    Windspeed        405.937327       411.757788              0.0
16         RH_4        639.187838       114.304747              0.0
17   Visibility        855.924654        36.357453              0.0
18         RH_5       1110.231301        34.661604              0.0
19           T8       1182.171305       208.993325              0.0
20         RH_3       2021.175831       367.938299              0.0
21    Tdewpoint       2761.564526      -121.631248              0.0
22           T3       3731.208201       722.267837              0.0
23         RH_6       4026.422507      -113.127943             -0.0
24           T6       8663.894455       326.573645              0.0
25         RH_1      17901.703335       405.812915              0.0

In [24]:
#My answers are different from that of the quiz because i was tensed by the time so i couldn't process the questions well